[submodule "examples/testDevice/data"]
	path = examples/testDevice/data
	url = https://github.com/phorton1/Arduino-libraries-myIOT-data_master
[submodule "data"]
	path = data
	url = https://github.com/phorton1/Arduino-libraries-myIOT-data_master
